<!-- Import the header section -->
<%- include("./header"); %>
<section class="home" id="home">
    <p><%= startingContent %></p>

    <div class="display">
        <!-- Loops through the "post" array -->
        <% homeContent.forEach(content => { %> 
            <!-- Creates each post in the array -->
            <div class="home_postTitle">
                <!-- Displays the title of the post -->
                <p><%= content.inputTitle %></p>
            </div>
            <div class="home_postContent">
                <!-- Displays the content of the post -->
                <p><%= content.inputContent %></p>
            </div>
        <% }) %> 
    </div>
</section>

<!-- Import the footer section -->
<%- include("./footer"); %>